/* --- Reset defaults --- */

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    outline: 0;
}

/* --- Layout --- */

.column {
    display: flex;
    flex-direction: column;
    /* stretch is a terrible default, each child should be able to decide its own width */
    align-items: start;
    /* default layout transitions */
    transition: gap 0.2s ease-out, padding 0.2s ease-out;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    transition: gap 0.2s ease-out, padding 0.2s ease-out;
}

.row > .fill-width { flex-grow: 1; }
:not(.row) > .fill-width { width: 100%; }

.column > .fill-height { flex-grow: 1; }
:not(.column) > .fill-height { height: 100%; }

.column.align-left { align-items: start; }
.column.center-x { align-items: center; }
.column.align-right { align-items: end; }

.column.align-top { justify-content: start; }
.column.center-y { justify-content: center; }
.column.align-bottom { justify-content: end; }

.row.align-left { justify-content: start; }
.row.center-x { justify-content: center; }
.row.align-right { justify-content: end; }

.row.align-top { align-items: start; }
.row.center-y { align-items: center; }
.row.align-bottom { align-items: end; }

.space-between { justify-content: space-between; }
